<footer class="navbar navbar-light text-white">
    <div class="row text-center">
        <div class="col-6 col-md">
            <img src="./assets/imagens/home/githubIcon.png" alt="Github" class="iconSocialMidia">
            <a href="https://github.com/RenanVieiraDev" target="_blank" class="text-white ml-1">Github</a>
        </div>
        <div class="col">
            <small>by @Renan Vieira</small> 
        </div>
        <div class="col-6 col-md">
            <img src="../../assets/imagens/home/whatsappIcon.png" alt="Whatsapp" class="iconSocialMidia">
           <a href="https://api.whatsapp.com/send?phone=5587991362272" target="_blank" class="text-white ml-1">Whatsapp</a>
        </div>
    </div>
</footer>
